.blocflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocflex__article {
    margin: 10px;
    padding: 5px;
    border: 1px solid #aaa;
    flex: 1 0 300px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.blocflex__article a {
    color: var(--colorVert);
}

.blocflex__galerie {
    flex: 1 0 100%;

}