

.logomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
       

}


.menu-entete-container {
    flex: 1;

    .menu {
        //ul 
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: auto;

        .menu-item {
            // li
            flex: 1 0 50px;

            a {
                padding: 3px 5px;
                color: white;
                text-decoration: none;
                font-size: 25px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            a:hover {
                color:white;
            }

        }

    }


}