.site__entete{

}

.logomenu {
    display: flex;
    background-color: var(--colorBleu);
    justify-content: space-between;
    align-items: center;
}

.menu-entete-container {
    
    padding-right:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


    .menu {
        //ul
        display: flex;
        list-style: none;
        gap: 20px;

        .menu-item {
            //li
            font-size: 18px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}