.site__entete {}

.logomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menusearch {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}



.menu-entete-container {


    .menu {
        //ul 
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        // margin-left : auto;

        .menu-item {
            // li
            flex: 1 0 50px;

            a {
                padding: 3px 5px;
                color: var(--colorBeigeFonce);
                text-decoration: none;
                font-size: 25px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            a:hover {
                color: white;
            }

        }

    }


}