.recherche{
    article{
        background-color: lightgray;
        margin:10px;
        h5 {
                text-decoration: none;
                color: var(--colorBleu);
            }
    }
    
}